slurm*
O0_*
02_*
O2_*
visu*
recon*
loss*
weights*
.idea/2dnet.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
amp_w16/
b4_w4/
b4_w4_amp/
b8_w4/
baseline_profile/
cudnn_b/
output*.out
sparse_training.out
w1/
w16/

